@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary:#ffffff;
  --white: #ffffff;
  --bg: #00000000;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
h1{
    font-family: 'Aladin', cursive;
    font-size: 7rem;
    color: #feffb9;
    text-shadow: 2px 2px 4px rgb(237, 145, 255);
}

h3{
  margin-top:-50%;
  font-family: 'Aladin', cursive;
  font-size: 5rem;
  z-index: 3;
  color: #421f1f;
  text-shadow: 2px 2px 4px rgb(255, 174, 0);
}
p{
  font-family: 'Poppins',bold;
  z-index: 3;
  color: #320c53;
  text-shadow: 2px 2px 4px rgb(255, 200, 0);
}
/* .hide-holo .holo {
  display: none;
} */
.container {
  /* background-image: url('darkgradient.png');
  background-size:cover; /* Adjust this property as needed
  height: 20vh; */
  width: 100%;
  margin-top: 3vh;
  text-align: center;
  position: relative; /* Required for absolute positioning of child elements */
  overflow: hidden;
 
  
}
.holo {
  position: absolute;
  z-index: -2;
  width: 200px;
  height: 50px;
  background-color: rgba(0, 252, 252, 0.35);
  border-radius: 5%;
  filter: blur(10px);
  transform: perspective(100px) rotateX(-35deg);
  transform-style: preserve-3d;
  animation: holographic 1.5s infinite;
  backface-visibility: hidden;
  margin-top: 450px;
  margin-left: 50px;
  overflow: hidden;
}

.holo:after {
  position: relative;
  z-index: -2;
  left: -10px;
  right: -10px;
  content: "";
  height: 200px;
  background-color: rgba(0, 252, 252, 0);
  border-radius: 5%;
  filter: blur(2.5px);
  backface-visibility: hidden;
  overflow: hidden;
}

.holo + .holo {
  animation-duration: 0.75s;
  opacity: 0.5;
}

@keyframes float {
  from {
    will-change: unset;
    transform: translateY(-10px);
  }
  to {
    will-change: transform;
    transform: translateY(-30px);
  }
}

@keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow:
      0 -75px 5px rgba(215, 191, 216, 0.3), /* Light Purple */
      0 -1px 2px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -45px 5px rgba(215, 191, 216, 0.3), /* Light Purple */
      0 -2px 3px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -3px 4px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -4px 6px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -5px 10px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -7px 20px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -10px 30px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -15px 40px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -25px 50px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -35px 60px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -45px 70px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -65px 80px rgba(215, 191, 216, 0.9), /* Light Purple */
      0 -75px 90px rgba(215, 191, 216, 0.9); /* Light Purple */
  }
  to {
    will-change: unset;
    box-shadow:
      0 -1px 5px rgba(215, 191, 216, 0.3), /* Light Purple */
      0 -1px 2px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -1px 5px rgba(215, 191, 216, 0.3), /* Light Purple */
      0 -2px 3px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -3px 4px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -4px 6px rgba(215, 191, 216, 0.5), /* Light Purple */
      0 -5px 7px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -7px 10px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -10px 15px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -15px 20px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -25px 25px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -35px 30px rgba(215, 191, 216, 0.7), /* Light Purple */
      0 -45px 35px rgba(215, 191, 216, 0.9), /* Light Purple */
      0 -65px 40px rgba(215, 191, 216, 1), /* Light Purple */
      0 -75px 50px rgba(215, 191, 216, 1); /* Light Purple */
  }
}



.card{
  width: 400px;
  /* background-image: url('card.png'); */
  text-align: center;
  display: inline-block;
  margin-top: 150px;
  height:500px;
  margin: 20px;
  margin-top:40px;
  margin-left: 100px;
  position: relative; /* Required for absolute positioning of child elements */
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 1s infinite alternate;
  z-index: 3;
  
}


.cardbg{
    position: relative;
    width: 100%; /* Make the image take up the full width of the container */
    height: 100%; /* Make the image take up the full height of the container */
    object-fit: cover; /* Preserve aspect ratio and cover the entire container */
    position: absolute; /* Position the image relative to its container */
    top: 10px; /* Position the image at the top of the container */
    right: 10%;
    object-fit: cover;
    object-position: center;
    /* z-index: 3; */
    opacity: 1; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
    
    /* margin-bottom: 40px; */
    /* transition: opacity 0.2s ease-in-out; */
    /* box-shadow: 0 0 8px #fff; */
}
/* Remove the holo animation from the .cardbg element */
.cardbg .holo {
  display: block;
}

/* Apply the holo animation only when hovering over the entire card */
/* .card:hover .holo {
  display: block;
} */


.profile{

  position: absolute;
  top: 0;
  left: 35%;
  right: 80%;
  width:33%;
  margin-top:30%;
  height:25%;
  z-index: 2;
  object-fit: cover;
  margin-bottom: 40px;
  text-align: center;
}
/* .profile:hover{
  box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5); Apply the blue glow effect to the image on hover 
} */

.card h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  
}
.card span{
  margin: 20px 0px;
  display: inline-block;
  color: #999;
  margin-top: 10px
}
.card p{
  margin-bottom: 20px;
  font-size: 20px
}
.card a{
  font-size: 20px
}

.card a i:hover{
  color: #aaaaaa;
  
}
.card button{
  display: inline-block;
  width: 87%;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 19px;
  margin-bottom: 17px;
  margin-top: 20px;
  cursor: pointer;

}
.card button:hover{
  background-color: #25a6b1
}






 
/* Styles for the popup container */
.popup {
  display: block;
  position: absolute;
  left: 272px; /* Adjust the position as needed */
  top: 0;
  background-color: transparent;
  border: 1px solid #ccc;
  background-color: #f7f2f2;
  padding: 10px;
  width: 50px; /* Adjust the width as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 0 10px 10px 0;
  margin-top: 120px; /* Add margin to separate from the card image */
  height: 123px;
}

/* .card-container:hover .popup {
  display: block;
} */
.social-links {
  list-style: none;
  padding: 0;
}

.social-link {
  margin-bottom: 10px;
}


.social-link a {
  text-decoration: none;
  color: #e7e1e1;
  display: block;
}
.social-icon {
  margin-bottom: 4px; /* Increase the distance between icons */
}
#my-link {
  color: #ff0000; /* Initial color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition effect */
}
#mylink:hover{
  color: #9a9797;
}
#myImage1 {
  width: 33%; /* Initial width */
  height: 25%; /* Maintain aspect ratio */
  transition: width height 0.3s; /* Add a smooth transition effect */
}

#myImage2 {
  width: 33%; /* Initial width */
  height: 25%; /* Maintain aspect ratio */
  transition: width height 0.3s; /* Add a smooth transition effect */
}
